@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


// -----------------------------------------------
// MAIN
// -----------------------------------------------
.page {
    font-family: "Space Grotesk", sans-serif;
}

.txtGray {
    color: #757575;
    letter-spacing: 6px;
}

.hr {
    border-top: 5px solid rgba($color: #6A7FDB, $alpha: 1.0);
}

.span {
    font-size: 19px;
    font-weight: 500;
}

// -----------------------------------------------
// NAVBAR
// -----------------------------------------------

.navbar {
    background-color: #FFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

// -----------------------------------------------
// HERO SECTION
// -----------------------------------------------

.heroBox {
    width: 100%;
}

.box1 {
    width: 380px;
}

.h1Hero {
    font-size: 60px;
}

.pHero {
    text-align: justify;
    line-height: 28px;
}

.btnHero {
    color: #FFF;
    background-color: #6A7FDB;

    &:hover {
        color: #FFF;
        background-color: #5b6db9;
    }
}

// -----------------------------------------------
// ABOUT US SECTION
// -----------------------------------------------

.pAbout {
    text-align: justify;
    line-height: 28px;
}


// -----------------------------------------------
// SERVICES SECTION
// -----------------------------------------------

.h2Services {
    font-size: 50px;
    font-weight: bold;
}

.spacing {
    margin-left: 30%;
}

.pServices {
    font-size: 30px;
    font-weight: bold;
}


// -----------------------------------------------
// CONTACTS SECTION
// -----------------------------------------------

.cardSocial {
    width: 25%;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.cardEmail {
    width: 60%;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.pContact {
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: bold;
}

.pContact_res {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #757575;
}

.btnContact {
    margin: 0 auto;
    width: 30%;
    color: #FFF;
    background-color: #6A7FDB;

    &:hover {
        color: #FFF;
        background-color: #5b6db9;
    }
}